.wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.wrapper h1 {
    font-size: 2em;
    font-weight: bold;
}


.query-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.query,.selectedQuery {
    display: flex;
    align-items: center;
    background-color: hsl(240, 100%, 95%);
    border: hsl(240, 100%, 90%) 1px solid;
    transition: 0.3s;
    justify-content: center;
    border-radius: 0.5em;
}

.query:hover {
    background-color: hsl(240, 100%, 90%);
    cursor: pointer;
}

.selectedQuery{
    background-color:  hsl(236, 100%, 78%);
}
.mat-grid-list{
    width: 100%;
}
.title {
    font-size: 1.2em;
    font-weight: bold;
}

.query .query-body {
    background-color: pink;
}

.body {
    width: 60%;
    padding: 20px;
    border: 1px hsl(0, 0%, 80%) solid;
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em lightgray;
}

.answer {
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
    justify-content: center;
}


.filter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.result{
    display: flex;
    margin-top:-20px;
}

.body .title{
    font-size: 1em;
    font-weight: bolder; 
}

.body .part{
    display: flex;
    flex-direction: row;
    gap:20px;
    align-items: center;
}
.findBtn {
    font-size: 1.5em;
    text-decoration: none;
    background-color:hsl(184, 72%, 48%);
    border-radius:5px;
    padding: 0.5em;
    color: white;
    border: 0px;
  }
  
  .findBtn:hover {
    background-color:hsl(184, 72%, 41%);
  }
  