.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper a {
  font-size: 1.5em;
  text-decoration: none;
}

.wrapper a:hover {
  text-decoration: underline;
}

.wrapper .tests-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90%;
  text-align: center;
}

.wrapper .tests-wrapper .test {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  padding: 2em;
  background-color: hsl(240, 100%, 95%);
  border: hsl(240, 100%, 90%) 1px solid;
  transition: 0.3s;
  user-select: none;
  height: 330px;
  justify-content: space-between;
  border-radius: 0.5em;
  position: relative;
}
.wrapper .tests-wrapper .test:hover {
  background-color: hsl(240, 100%, 90%);
}

.wrapper .tests-wrapper .test .testNotPublished {
  position: absolute;
  width: fit-content;
  padding: 0.1em 0.2em 0.1em 0.2em;
  padding-block-end: 0;
  top: -0.5em;
  left: 0;
  right: 0;
  margin: auto;
  background-color: darkred;
  color: white;
  border-radius: 0.5em;
}

.wrapper .tests-wrapper .test .test-name {
  font-size: 1.7em;
}

.wrapper .tests-wrapper .test .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper .tests-wrapper .test .concepts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7em;
}

.wrapper .tests-wrapper .test .concepts .concept {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 7em;
  overflow-y: auto;
}

.wrapper .tests-wrapper .test .info .number-of-questions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .tests-wrapper .test .info .number-of-points {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .tests-wrapper .test .concepts p {
  font-size: 1.3em;
  margin-block-start: 0;
  margin-block-end: 0;
}

.wrapper .tests-wrapper .test .info .number-of-questions p {
  font-size: 1.3em;
  margin-block-start: 0;
  margin-block-end: 0;
}

.wrapper .tests-wrapper .test .info .number-of-questions b {
  font-size: 1.3em;
  text-decoration: underline;
}

.wrapper .tests-wrapper .test .info .number-of-points p {
  font-size: 1.3em;
  margin-block-start: 0;
  margin-block-end: 0;
}

.wrapper .tests-wrapper .test .info .number-of-points b {
  font-size: 1.3em;
  text-decoration: underline;
}

.wrapper .tests-wrapper .test .info .number-of-points .fail {
  color: red;
}

.wrapper .tests-wrapper .test .info .number-of-points .pass {
  color: green;
}

.wrapper .tests-wrapper .test .info button {
  font-size: 1.3em;
  border: none;
  color: white;
  background-color: hsl(260, 100%, 75%);
  cursor: pointer;
  width: fit-content;
  border-radius: 0.2em;
  margin-top: 1em;
  padding: 0.5em;
  text-decoration: none;
  transition: 0.3s;
}

.wrapper .tests-wrapper .test .info button:hover {
  background-color: hsl(260, 100%, 65%);
}

.modalBackgroundActive {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: hsl(0, 0%, 50%, 0.5);
  width: 100%;
  height: 100%;
  transition: 1s;
  opacity: 1;
}

.modalBackgroundActive .modalWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 85%;
  width: 95%;
  background-color: white;
  opacity: 1;
  border-radius: 1em;
  padding: 1em;
}

.modalBackgroundActive .modalWrapper .btn-close {
  float: right;
  scale: 1.5 1.5;
}

.modalBackgroundActive .modalWrapper .modalContent {
  width: 100%;
  height: 95%;
  padding: 1em;
  gap: 1em;
}

.modalBackgroundDisabled {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: 50% 50%;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s;
}

.modalBackgroundDisabled .modalWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 85%;
  width: 95%;
  background-color: white;
  opacity: 1;
  border-radius: 1em;
  padding: 1em;
}

.modalBackgroundDisabled .modalWrapper .btn-close {
  float: right;
  scale: 1.5 1.5;
}

.modalBackgroundDisabled .modalWrapper .modalContent {
  display: flex;
  width: 100%;
  height: 95%;
  padding: 1.3em;
  gap: 1em;
  overflow-y: auto;
}

.testWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.test {
  padding: 1em;
  border: 1px hsl(0, 0%, 80%) solid;
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em lightgray;
  width: 90%;
  height: 100%;
}

.testName {
  display: flex;
  justify-content: center;
}

.testName h1 {
  font-weight: bold;
}

.testContent {
  display: flex;
  flex-direction: column;
  height: 90%;
  overflow-y: auto;
}

.question {
  background-color: hsl(0, 0%, 97%);
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.questionText {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questionQuestion {
  font-size: 1.2em;
}

.answers {
  margin-left: 4ch;
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  width: 90%;
}

.correctAnswer {
  padding: 0.2em;
  background-color: hsl(120, 100%, 80%);
  pointer-events: none;
  user-select: none;
}

.incorrectAnswer {
  padding: 0.2em;
  background-color: hsl(0, 100%, 85%);
  pointer-events: none;
  user-select: none;
}

.answerText {
  white-space: normal;
  margin-right: 1em;
  user-select: none;
}

.submitBtn {
  margin-top: 1em;
}
