<div class="wrapper">
  <h1>All Tests</h1>
  <div class="tests-wrapper">
    <div class="test" *ngFor="let test of tests">
      <b class="test-name">
        {{ test.name }}
      </b>
      <div class="underline"></div>
      <div class="concepts">
        <p>Concepts:</p>
        <div class="concept">
          <b *ngFor="let concept of test.concepts">{{ concept }}</b>
        </div>
      </div>
      <div class="info">
        <div class="number-of-questions">
          <p>Number of questions:</p>
          <b>{{ test.questions.length }}</b>
        </div>
        <div class="number-of-points">
          <p>Result:</p>
          <b
            [ngClass]="test.myPoints / test.maxPoints < 0.51 ? 'fail' : 'pass'"
            >{{ test.myPoints }}</b
          >
          <b>/</b>
          <b>{{ test.maxPoints }}</b>
        </div>
        <button (click)="viewResults(test.id)">View results</button>
      </div>
    </div>
  </div>
</div>

<div
  [ngClass]="isModalOpen ? 'modalBackgroundActive' : 'modalBackgroundDisabled'"
>
  <div class="modalWrapper">
    <button
      (click)="changeModalState()"
      type="button"
      class="btn-close"
      aria-label="Close"
    ></button>
    <div class="modalContent">
      <div class="wrapper">
        <div class="test">
          <div class="testName">
            <h1>{{ selectedTest.name }}</h1>
          </div>
          <div class="testContent">
            <form>
              <div class="question" *ngFor="let q of selectedTest.questions">
                <div class="questionText">
                  <b class="questionQuestion"
                    >Q{{ q.questionNumber }}. {{ q.question.question }}</b
                  >
                  <span class="questionPoints"
                    >({{ q.question.points }} points)</span
                  >
                </div>
                <mat-radio-group
                  aria-labelledby="radio-group-label"
                  class="answers"
                  [ngModelOptions]="{ standalone: true }"
                  [ngModel]="q.answerId"
                >
                  <mat-radio-button
                    *ngFor="let a of q.question.answers"
                    [value]="a.id"
                    [ngClass]="
                      a.isCorrect ? 'correctAnswer' : 'incorrectAnswer'
                    "
                  >
                    <span class="answerText">{{ a.answer }}</span>
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
