<nav class="navbar">
  <ul>
    <li>
      <a [routerLink]="['']" routerLinkActive="router-link-active">
        <img src="../../../assets/stuTestLogo.svg" class="svg" />
      </a>
    </li>
    <li>
      <a [routerLink]="['/tests']" routerLinkActive="router-link-active"
        >Tests</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/addTest']"
        routerLinkActive="router-link-active"
        *appHasRole="['ROLE_TEACHER']"
        >Add test</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/tests/publishing']"
        routerLinkActive="router-link-active"
        *appHasRole="['ROLE_TEACHER']"
        >Test publishing</a
      >
    </li>
    <li *ngIf="currentUser">
      <a [routerLink]="['/tests/queries']" routerLinkActive="router-link-active"
        >Queries</a
      >
    </li>
  </ul>
  <ul *ngIf="!currentUser">
    <li>
      <a [routerLink]="['/login']" routerLinkActive="router-link-active"
        >Login</a
      >
    </li>
    <li>
      <a [routerLink]="['']" routerLinkActive="router-link-active">Signup</a>
    </li>
  </ul>
  <div class="user-menu" *ngIf="currentUser">
    <a [routerLink]="['/profile']" routerLinkActive="router-link-active"
      >Profile</a
    >
    <ul>
      <li>
        <a
          [routerLink]="['/myTests']"
          routerLinkActive="router-link-active"
          *appHasRole="['ROLE_STUDENT']"
          >My Tests</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/graph']"
          routerLinkActive="router-link-active"
          *appHasRole="['ROLE_TEACHER']"
          >Supposed KS</a
        >
      </li>
      <li>
        <a
          [routerLink]="['/realGraph']"
          routerLinkActive="router-link-active"
          *appHasRole="['ROLE_TEACHER']"
          >Real KS
        </a>
      </li>
      <li>
        <button class="logoutBtn" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>
