<div class="modalWrapper">
  <div class="modalContent">
    <div class="modalInfo">
      <div class="testsList">
        <div *ngFor="let test of tests" class="testInfo">
          <p
            id="ppp"
            [ngClass]="test.id == selectedTestId ? 'testSelected' : 'test'"
            (click)="selectTest(test.id)"
          >
            T{{ test.testNumber }}. {{ test.name }}
          </p>
          <div *ngIf="test.id == selectedTestId" class="ksVersionList">
            <p
              id="ppp"
              *ngFor="let rks of test.realKnowledgeSpaces"
              [ngClass]="rks.id == selectedKS ? 'versionSelected' : 'version'"
              (click)="drawForKS(rks.id)"
            >
              v{{ rks.rksNum }}. {{ rks.creationDate }}
            </p>
          </div>
        </div>
      </div>
      <div class="buttons">
        <button
          (click)="generateKnowledgeSpaceForTest()"
          mat-stroked-button
          [ngClass]="
            selectedTestId !== 0
              ? ['btn', 'btn-primary', 'btn-lg']
              : ['btn', 'btn-primary', 'btn-lg', 'disabled']
          "
        >
          Generate KS for test</button
        ><button
          (click)="saveRealKS()"
          mat-stroked-button
          [ngClass]="
            isRealKSGenerated
              ? ['btn', 'btn-primary', 'btn-lg']
              : ['btn', 'btn-primary', 'btn-lg', 'disabled']
          "
        >
          Save KS
        </button>
      </div>
    </div>
    <div class="visWrapper">
      <div id="visNetwork" #visNetwork></div>
      <span *ngIf="selectedTestId === 0" class="orangeSpan"
        >Select a test to display its real knowledge space!</span
      >
      <span
        *ngIf="
          selectedTestId !== 0 &&
          selectedTest.realKnowledgeSpaces.length === 0 &&
          !isRealKSGenerated
        "
        class="redSpan"
        >There is no real knowledge space for this test. You can generate a new
        one!</span
      >
      <span
        *ngIf="
          selectedTestId !== 0 &&
          selectedTest.realKnowledgeSpaces.length > 0 &&
          selectedKS === 0 &&
          !isRealKSGenerated
        "
        class="orangeSpan"
        >This test has a version of its knowledge space! Please select one of
        the versions.</span
      >
      <span *ngIf="isRealKSGenerated" class="greenSpan"
        >Real knowledge space for this test generated successfully! You can save
        this KS as a new version.</span
      >
      <span
        *ngIf="
          relations.length > 0 && selectedTestId !== 0 && realKS.length === 0
        "
        class="blueSpan"
        >This is an existing knowledge space for this test! You can always
        generate a new one.</span
      >
    </div>
  </div>
</div>
