<div class="wrapper" type="submit">
  <h1>Login</h1>
  <img src="../../../assets/img_avatar.png" alt="avatar" />

  <div class="form-outline">
    <input
      id="username"
      type="text"
      [(ngModel)]="username"
      class="form-control"
      required
    />
    <label class="form-label" for="username">Username</label>
  </div>

  <div class="form-outline">
    <input
      id="password"
      type="password"
      [(ngModel)]="password"
      class="form-control"
      required
    />
    <label class="form-label" for="password">Password</label>
  </div>

  <button (click)="login()" type="button" class="btn btn-primary btn-block">
    Sign in
  </button>
</div>
