<nav class="navbar">
  <ul>
    <li>
      <a href="">Home</a>
    </li>
    <li>
      <a href="tests">Tests</a>
    </li>
  </ul>
  <ul *ngIf="!currentUser">
    <li>
      <a href="login">Login</a>
    </li>
    <li>
      <a href="signup">Signup</a>
    </li>
  </ul>
  <div class="user-menu" *ngIf="currentUser">
    <a href="profile">Profile</a>
    <ul>
      <li *ngIf="checkStudent()">
        <a href="myTests">My Tests</a>
      </li>
      <li>
        <button class="logoutBtn" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>
<router-outlet> </router-outlet>
