.modalBackgroundActive {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: hsl(0, 0%, 50%, 0.5);
  width: 100%;
  height: 100%;
  transition: 1s;
  opacity: 1;
}

.modalBackgroundActive .modalWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 90%;
  width: 95%;
  background-color: white;
  opacity: 1;
  border-radius: 1em;
  padding: 1em;
}

.modalBackgroundActive .modalWrapper .btn-close {
  float: right;
  scale: 1.5 1.5;
}

.modalBackgroundActive .modalWrapper .modalContent {
  display: flex;
  width: 100%;
  height: 95%;
  padding: 1em;
  margin-top: 2em;
  gap: 1em;
}

.modalBackgroundActive .modalWrapper .modalContent .modalInfo {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.modalBackgroundActive .modalWrapper .modalContent .modalInfo .questionsList {
  width: 100%;
  height: 85%;
  font-weight: bold;
  user-select: none;
  overflow-y: auto;
}

.modalBackgroundActive
  .modalWrapper
  .modalContent
  .modalInfo
  .questionsList
  .question {
  padding: 0.2em;
  cursor: pointer;
  border-radius: 0.5em;
  background-color: hsl(0, 100%, 80%);
  border: 2px red solid;
}

.modalBackgroundActive
  .modalWrapper
  .modalContent
  .modalInfo
  .questionsList
  .questionSelected {
  padding: 0.2em;
  cursor: pointer;
  border-radius: 0.5em;
  border: 2px red solid;
  background-color: hsl(0, 100%, 90%);
}

.modalBackgroundActive
  .modalWrapper
  .modalContent
  .modalInfo
  .questionsList
  .question:hover {
  background-color: hsl(0, 100%, 90%);
}

.modalBackgroundActive .modalWrapper .modalContent #visNetwork {
  width: 80%;
  height: 100%;
  border-radius: 1em;
  box-shadow: 0 0 1em black;
}

.modalBackgroundDisabled {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: 50% 50%;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s;
}

.modalBackgroundDisabled .modalWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 90%;
  width: 95%;
  background-color: white;
  opacity: 1;
  border-radius: 1em;
  padding: 1em;
}

.modalBackgroundDisabled .modalWrapper .btn-close {
  float: right;
  scale: 1.5 1.5;
}

.modalBackgroundDisabled .modalWrapper .modalContent {
  display: flex;
  width: 100%;
  height: 95%;
  padding: 1em;
  margin-top: 2em;
  gap: 1em;
}

.modalBackgroundDisabled .modalWrapper .modalContent .modalInfo {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.modalBackgroundDisabled .modalWrapper .modalContent .modalInfo .questionsList {
  width: 100%;
  height: 85%;
  font-weight: bold;
  user-select: none;
  overflow-y: auto;
}

.modalBackgroundDisabled
  .modalWrapper
  .modalContent
  .modalInfo
  .questionsList
  .question {
  padding: 0.2em;
  cursor: pointer;
  border-radius: 0.5em;
  background-color: hsl(0, 100%, 80%);
  border: 2px red solid;
}

.modalBackgroundDisabled
  .modalWrapper
  .modalContent
  .modalInfo
  .questionsList
  .question:hover {
  background-color: hsl(0, 100%, 90%);
}

.modalBackgroundDisabled .modalWrapper .modalContent #visNetwork {
  width: 80%;
  height: 100%;
  border-radius: 1em;
  box-shadow: 0 0 1em black;
}

.edgeBtns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 2em;
}
