<div class="wrapper">
  <h1>Add test</h1>
  <div class="col">
    <app-base-test
      (numberChanged)="change($event)"
      (addQuestion)="addQuestion()"
      [questionNumber]="questionNumber"
    ></app-base-test>
  </div>
  <div class="mt-2 text-right">
    <button
      mat-stroked-button
      (click)="changeModalState()"
      class="btn btn-primary btn-lg"
      style="margin-left: 5em"
    >
      Connect concepts
    </button>
  </div>
</div>

<div
  [ngClass]="isModalOpen ? 'modalBackgroundActive' : 'modalBackgroundDisabled'"
>
  <div class="modalWrapper">
    <button
      (click)="changeModalState()"
      type="button"
      class="btn-close"
      aria-label="Close"
    ></button>
    <div class="modalContent">
      <div class="modalInfo">
        <div class="questionsList">
          <p
            id="ppp"
            *ngFor="let q of test.questions"
            (click)="highlightQuestion(q.questionNumber)"
            [ngClass]="
              q.questionNumber == selectedQuestion
                ? 'questionSelected'
                : 'question'
            "
          >
            Q{{ q.questionNumber }}. {{ q.question }}
          </p>
        </div>
        <div class="edgeBtns">
          <button
            mat-stroked-button
            (click)="addEdge()"
            class="btn btn-primary btn-lg"
          >
            Add edge
          </button>
          <button
            mat-stroked-button
            (click)="removeSelected()"
            class="btn btn-secondary btn-lg"
          >
            Remove edge
          </button>
        </div>

        <button
          mat-stroked-button
          (click)="addTest()"
          class="btn btn-success btn-lg"
        >
          Save test
        </button>
      </div>
      <div id="visNetwork" #visNetwork></div>
    </div>
  </div>
</div>
