<div style="width: 700px" class="container">
  <div class="mt-5 pb-8 pl-5 pt-5 justify-content-center">
    <div class="card bg-light shadow">
      <div class="card-header bg-white border-0">
        <div class="row">
          <div class="col-8">
            <h3 class="mb-0">Test information</h3>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form>
          <div class="d-flex flex-column justify-content-center">
            <div
              style="width: 100%"
              class="d-flex flex-column justify-content-center"
            >
              <div class="form-group">
                <mat-form-field appearance="fill">
                  <mat-label class="form-control-label" for="test"
                    >Test name</mat-label
                  >
                  <input
                    style="font-size: 1.5em"
                    matInput
                    type="text"
                    id="test"
                    name="test"
                    [(ngModel)]="test.name"
                  />
                </mat-form-field>
              </div>
              <div
                class="form-group d-flex flex-column justify-content-center"
                style="width: 100%"
              >
                <mat-form-field style="width: 90%" appearance="fill">
                  <mat-label class="form-control-label" for="input-question"
                    >Add a question</mat-label
                  >
                  <textarea
                    matInput
                    type="text"
                    id="input-question"
                    name="question"
                    [(ngModel)]="questionText"
                  ></textarea>
                </mat-form-field>
              </div>
            </div>
            <div
              style="width: 100%"
              class="d-flex flex-column justify-content-center"
            >
              <div
                style="width: 100%"
                class="form-group d-flex flex-column justify-content-center"
              >
                <mat-form-field style="width: 10%" appearance="fill">
                  <mat-label class="form-control-label" for="input-question"
                    >Points</mat-label
                  >
                  <input
                    matInput
                    type="number"
                    id="input-points"
                    name="points"
                    [(ngModel)]="points"
                    min="0"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="mt-2">
            <button
              mat-stroked-button
              (click)="addQuestion()"
              class="btn btn-info"
            >
              Add question
            </button>
          </div>
          <div class="mt-4" *ngFor="let q of test.questions">
            <hr class="my-4" />
            <label for="input-q"
              >Question {{ q.questionNumber }}({{ q.points }} points)</label
            >
            <button
              mat-stroked-button
              (click)="removeQuestion(q)"
              class="btn btn-danger btn-sm ml-2"
            >
              Remove
            </button>
            <div class="form-group">
              <h2>{{ q.question }}</h2>
            </div>
            <span *ngFor="let a of q.answers">
              {{ a.answer }}
              <button
                (click)="removeAnswer(a, q)"
                class="btn btn-danger btn-sm ml-2"
                mat-stroked-button
              >
                Remove
              </button>
            </span>
            <hr class="my-4" />
            <div class="mt-2 form-group col-md-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label for="input-answer"
                  >Answer for question {{ q.questionNumber }}:</mat-label
                >
                <input
                  matInput
                  type="text"
                  name="answer"
                  id="input-answer"
                  [(ngModel)]="answerText"
                />
                <mat-checkbox
                  type="checkbox"
                  name="correct"
                  id="input-correct"
                  [(ngModel)]="isCorrect"
                  >Is correct</mat-checkbox
                >
              </mat-form-field>
            </div>
            <button
              mat-stroked-button
              (click)="addAnswer(q)"
              class="btn btn-info mt-2"
            >
              Add answer
            </button>
          </div>
          <hr class="my-4" />
          <div class="mt-2 text-right">
            <button
              mat-stroked-button
              (click)="changeModalState()"
              class="btn btn-primary btn-lg"
            >
              Connect concepts
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  [ngClass]="isModalOpen ? 'modalBackgroundActive' : 'modalBackgroundDisabled'"
>
  <div class="modalWrapper">
    <button
      (click)="changeModalState()"
      type="button"
      class="btn-close"
      aria-label="Close"
    ></button>
    <div class="modalContent">
      <div class="modalInfo">
        <div class="questionsList">
          <p class="question" *ngFor="let q of test.questions">
            Q{{ q.questionNumber }}. {{ q.question }}
          </p>
        </div>
        <div class="edgeBtns">
          <button
            mat-stroked-button
            (click)="addEdge()"
            class="btn btn-primary btn-lg"
          >
            Add edge
          </button>
          <button
            mat-stroked-button
            (click)="removeSelected()"
            class="btn btn-secondary btn-lg"
          >
            Remove edge
          </button>
        </div>

        <button
          mat-stroked-button
          (click)="addTest()"
          class="btn btn-success btn-lg"
        >
          Save test
        </button>
      </div>
      <div id="visNetwork" #visNetwork></div>
    </div>
  </div>
</div>
