.wrapper {
  padding-top: 20px;
  padding-bottom:100px;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.modalBackgroundActive {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  transition: 1s;
  opacity: 1;
}

.modalBackgroundActive .modalWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 85%;
  width: 95%;
  background-color: white;
  opacity: 1;
  border-radius: 1em;
  padding: 1em;
  margin-top: 1em;
}

.modalBackgroundActive .modalWrapper .btn-close {
  float: right;
  scale: 1.5 1.5;
}

.modalBackgroundActive .modalWrapper .modalContent {
  display: flex;
  width: 100%;
  height: 95%;
  padding: 1em;
  margin-top: 2em;
  gap: 1em;
}

.modalBackgroundActive .modalWrapper .modalContent .modalInfo {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.modalBackgroundActive .modalWrapper .modalContent .modalInfo .questionsList {
  width: 100%;
  height: 85%;
  font-weight: bold;
  user-select: none;
  overflow-y: auto;
  border: 1px hsl(0, 0%, 80%) solid;
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em lightgray;
  padding: 0.3em;
}

.modalBackgroundActive
  .modalWrapper
  .modalContent
  .modalInfo
  .questionsList
  .question {
  padding: 0.2em;
  cursor: pointer;
  border-radius: 0.5em;
  background-color:#98ecf1;
  border: 2px solid  hsl(184, 72%, 41%);
  margin-block-end: 0.5em;
}

.modalBackgroundActive
  .modalWrapper
  .modalContent
  .modalInfo
  .questionsList
  .questionSelected {
  padding: 0.2em;
  cursor: pointer;
  border-radius: 0.5em;
  border: 2px  hsl(184, 72%, 41%) solid;
  background-color:hsl(184, 72%, 48%);
  margin-block-end: 0.5em;
}

.modalBackgroundActive
  .modalWrapper
  .modalContent
  .modalInfo
  .questionsList
  .question:hover {
  background-color:  #3ad8e3;
}

.modalBackgroundActive .modalWrapper .modalContent #visNetwork {
  width: 80%;
  height: 100%;
  border: 1px hsl(0, 0%, 80%) solid;
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em lightgray;
}

.modalBackgroundDisabled {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: 50% 50%;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s;
}

.modalBackgroundDisabled .modalWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 90%;
  width: 95%;
  background-color: white;
  opacity: 1;
  border-radius: 1em;
  padding: 1em;
}

.modalBackgroundDisabled .modalWrapper .btn-close {
  float: right;
  scale: 1.5 1.5;
}

.modalBackgroundDisabled .modalWrapper .modalContent {
  display: flex;
  width: 100%;
  height: 95%;
  padding: 1.3em;
  margin-top: 2em;
  gap: 1em;
}

.modalBackgroundDisabled .modalWrapper .modalContent .modalInfo {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.modalBackgroundDisabled .modalWrapper .modalContent .modalInfo .questionsList {
  width: 100%;
  height: 85%;
  font-weight: bold;
  user-select: none;
  overflow-y: auto;
  border: 1px hsl(0, 0%, 80%) solid;
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em lightgray;
  padding: 0.3em;
}

.modalBackgroundDisabled
  .modalWrapper
  .modalContent
  .modalInfo
  .questionsList
  .question {
  padding: 0.2em;
  cursor: pointer;
  border-radius: 0.5em;
  border: 2px #1daab4 solid;
  background-color:hsl(184, 72%, 48%);
}

.modalBackgroundDisabled
  .modalWrapper
  .modalContent
  .modalInfo
  .questionsList
  .question:hover {
  background-color:hsl(183, 76%, 77%);
}

.modalBackgroundDisabled .modalWrapper .modalContent #visNetwork {
  width: 80%;
  height: 100%;
  border: 1px hsl(0, 0%, 80%) solid;
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em lightgray;
}

.edgeBtns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;
}
