<div class="wrapper">
  <div class="test">
    <div class="testName">
      <h1>{{ test.name }}</h1>
    </div>
    <div class="testContent">
      <form>
        <div class="question" *ngFor="let q of test.questions">
          <div class="questionText">
            <b class="questionQuestion"
              >Q{{ q.questionNumber }}. {{ q.question }}</b
            >
            <span class="questionPoints">({{ q.points }} points)</span>
          </div>
          <mat-radio-group
            aria-labelledby="radio-group-label"
            class="answers"
            [ngModelOptions]="{ standalone: true }"
            [ngModel]="q.answers"
            (change)="radioChange($event, q)"
          >
            <mat-radio-button *ngFor="let a of q.answers" [value]="a.answer">
              <span class="answerText">{{ a.answer }}</span>
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <button
          mat-stroked-button
          (click)="submitTest()"
          class="btn btn-success btn-lg submitBtn"
        >
          Submit test
        </button>

        <button
          mat-stroked-button
          (click)="check()"
          class="btn btn-success btn-lg submitBtn"
        >
          CHECK
        </button>
      </form>
    </div>
  </div>
</div>
