<div class="wrapper">
  <h1>All Tests</h1>
  <a
    *appHasRole="['ROLE_TEACHER']"
    [routerLink]="['/test/add']"
    class="addTestBtn"
    >Add Test</a
  >
  <div class="tests-wrapper">
    <div class="test" *ngFor="let test of tests">
      <div *ngIf="test.testPublications.length === 0" class="testNotPublished">
        not published
      </div>
      <b class="test-name">
        {{ test.name }}
      </b>
      <div class="underline"></div>
      <div class="concepts">
        <p>Concepts:</p>
        <div class="concept">
          <b *ngFor="let concept of test.concepts">{{ concept }}</b>
        </div>
      </div>
      <div class="info">
        <div class="number-of-questions">
          <p>Number of questions:</p>
          <b>{{ test.questions.length }}</b>
        </div>
        <div class="number-of-points">
          <p>Max points:</p>
          <b>{{ test.maxPoints }}</b>
        </div>
        <a
          *appHasRole="['ROLE_TEACHER']"
          [routerLink]="['/test', test.id, 'answers', 'graph']"
          >View Knowledge State</a
        >
        <a
          *appHasRole="['ROLE_STUDENT']"
          [routerLink]="['/test/', test.id, 'submit']"
          >Attempt Test</a
        >
      </div>
    </div>
  </div>
</div>
