<div class="wrapper">
  <div class="test">
    <div class="testName" *appHasRole="['ROLE_STUDENT']">
      <h1>{{ test.name }}</h1>
    </div>
    <div *appHasRole="['ROLE_TEACHER']" class="testName">
      <div class="form-group">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label class="form-control-label" for="input-name"
            >Test name</mat-label
          >
          <input
            matInput
            type="text"
            id="input-name"
            name="name"
            [(ngModel)]="test.name"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="testContent">
      <form>
        <div class="question" *ngFor="let q of test.questions">
          <div class="questionText">
            <b class="questionQuestion"
              >Q{{ q.questionNumber }}. {{ q.question }}</b
            >
            <button
              *appHasRole="['ROLE_TEACHER']"
              mat-stroked-button
              (click)="removeQuestion(q)"
              class="btn btn-danger btn-sm ml-2"
            >
              Remove
            </button>
            <span class="questionPoints">({{ q.points }} points)</span>
          </div>
          <mat-radio-group
            aria-labelledby="radio-group-label"
            class="answers"
            [ngModelOptions]="{ standalone: true }"
            [ngModel]="q.answers"
            (change)="radioChange($event, q)"
          >
            <mat-radio-button *ngFor="let a of q.answers" [value]="a.answer">
              <span class="answerText">{{ a.answer }}</span>
              <button
                *appHasRole="['ROLE_TEACHER']"
                (click)="removeAnswer(a, q)"
                class="btn btn-danger btn-sm ml-2"
                mat-stroked-button
              >
                Remove
              </button>
            </mat-radio-button>
          </mat-radio-group>
        </div>
        <button
          *appHasRole="['ROLE_STUDENT']"
          mat-stroked-button
          (click)="submitTest()"
          class="btn btn-success btn-lg submitBtn"
        >
          Submit test
        </button>
      </form>
    </div>
  </div>
</div>
